#root {
    background-image: url("assets/images/peach-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.w-40 {
    width: 40%;
}

.mh-200px {
    max-height: 200px;
}

.h-200px {
    height: 200px;
}