#root {
    background-image: url("assets/images/peach-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#board {
    background-image: url("assets/images/blank_board.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#playing-area {
    background-image: url("assets/images/bg_playing_area.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
}

.w-40 {
    width: 40%;
}

.h-200px {
    height: 200px;
}