body {
    background-image: url("https://image.winudf.com/v2/image/Y29tLkxpdmVXYWxscGFwZXJzVUEuYXBwMDUwMl9zY3JlZW5fMV9mODB5YnJvOA/screen-1.jpg?fakeurl=1&type=.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.w-40 {
    width: 40%;
}

#root {
    height: 100vh;
}