* {
    box-sizing: border-box;
}
.g-body {
    background-image: url("https://zigavn.com/res/big_bg.jpg?v=1");
    background-position: center top;
    background-repeat: no-repeat;
    top: 0;
    width: 100%;
    height: 100%;

}